.modal-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 0;
  }
  
  .modal-header-container-buttons {
    display: flex;
    gap: 0.8rem;
  }