.type-container {
  background-color: #676060;
  color: #fff;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: solid 1px #675f5f;
  font-size: 0.8rem;
}
