.condition-container {
  display: flex;
  flex-direction: column;
}

.condition-container-row-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.condition-container-row-two {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.highlight {
  background-color: #18bb8f;
  color: #fff;
}

.removed {
  text-decoration: line-through;
  color: #867c7c;;
}
