.condition-container {
  display: flex;
  flex-direction: column;
}

.condition-container-row-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.condition-container-row-two {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* .condition-container-delete-button {
  display: flex;
  width: fit-content;
  position: absolute;
  right: 0.5rem;
} */
